<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
       
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="@{'/public/js/underscore-min.js'}"></script>
		<script src="@{'/public/js/backbone-min.js'}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
		<script src="@{'/public/js/jquery.ez-pinned-footer.js'}"></script>
		
		<link rel="stylesheet" rev="stylesheet" href="@{'/public/css/scihub.css'}">
		
		<script src="@{'/public/js/utils.js'}"></script>
		<script src="@{'/public/js/models/scihubmodel.js'}"></script>
		<script src="@{'/public/js/views/activities.js'}"></script>
		<script src="@{'/public/js/views/simplepageviews.js'}"></script>
		<script src="@{'/public/js/views/header.js'}"></script>
		<script src="@{'/public/js/views/footer.js'}"></script>
		<script src="@{'/public/js/views/groups.js'}"></script>
		<script src="@{'/public/js/views/pic.js'}"></script>
		<script src="@{'/public/js/views/ytvideos.js'}"></script>
		<script src="@{'/public/js/views/comments.js'}"></script>
		<script src="@{'/public/js/main.js'}"></script>
    </head>
    
    <body>
        <div id="content">
			<div id="header"></div>
			<div id="groups"></div>
			<div id="resources"></div>
			<div id="stage"></div>
		</div>
		<!--
		<div id="footer">
		</div> 
		-->
    </body>
</html>