<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Posticks</title>
  <link rel="stylesheet" media="screen, projection, print"href="/public/css/postick.css" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
</head>
<body>
  <header>
  	<h1>Posticks</h1>
        <input type="button" value="Add Postick" id="btn-addNote" />
  </header>
<div id="board"></div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>
</html>