<title></title>
<div class="toolbar"><img alt="" src="/public/images/drag.png" width="10px" /></div>
<div class="postitContent">
<img alt="" src="/public/images/<% if(task.id == 1) { %>sim1.png<% } else if (task.id == 2) { %>sim2.png<% } else if (task.id == 3) { %>sim3.png<% } %>" width="100%" height="100%" />
<br /><%= rawcontent %>
<br />
<br />
<div id="postitComment-<%= id %>"></div>
<input id="postitCommentInput-<%= id %>" type="text" class="commentInput" value="Write a comment..."/>
</div>