<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" rev="stylesheet" href="@{'/public/css/scihub.css'}">

   		<script src="@{'/public/js/jquery-1.7.1.min.js'}"></script>
		<script src="@{'/public/js/underscore-min.js'}"></script>
		<script src="@{'/public/js/backbone-min.js'}"></script>
		<script src="@{'/public/js/jquery-ui.min.js'}"></script>
		<script src="@{'/public/js/jquery.ui.mouse.touch.js'}"></script>

		<script src="@{'/public/js/utils.js'}"></script>
		<script src="@{'/public/js/models/scihubmodel.js'}"></script>
		<script src="@{'/public/js/views/header.js'}"></script>
		<script src="@{'/public/js/views/groups.js'}"></script>
		<script src="@{'/public/js/views/comments.js'}"></script>
		<script src="@{'/public/js/main.js'}"></script>
    </head>
    <body>
        <div id="content">
			<div id="header"></div>
			<div id="stage"></div>
		</div>
        <footer></footer>
    </body>
</html>